
h1{
    top: 50px;
    left: 50px;
    font-size: 1.3em;
    text-decoration: none;
    font-family: sans-serif;
    color: black;
    position: relative;
}

a{
    top: 75px;
    left: 50px;
    font-size: 1.3em;
    text-decoration: none;
    font-family: sans-serif;
    color: black;
    opacity: .25;
    position: relative;
}

/*
a:hover{
    left: 65px;
}
*/
ul li{
    padding-bottom: 25px;
}