header{
    position: fixed;
    top: 20px;
    width: 100%
}

nav ul li a{
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 18pt;
    color: black;
}

nav{
    background-color: white;
}

nav ul li{
    display: inline-block;
    padding: 20px;
}

nav ul{
    margin: 0;
    margin-left: 30px;
    margin-right: 30px;
    padding: 0;
}

.name{
    float: right;
}

.border div{
    background-color: black;
    z-index: 99;
    visibility: hidden;
}

.left{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20px;
}

.right{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20px;
}

.bottom{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20px;
}

.top{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 20px;
}