<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
        <link rel="stylesheet" href="link-template.css">
    </head>
    <body>
        <header>
        <div class='top'>
            <h4>CL</h4>
        </div>
        <div class='top'>
            <p>los angeles > jobs</p>
        </div>
    </header>
        
        <div class="action">
        <button>reply</button>
            <h8>post id: 387291643</h8>
        </div>
        
        <div class="move">
                <a class="prev" href="seinfeld-marathon.html">◀  prev </a>
                <a class="next" href="teach-my-dad-to-use-the-computer.html"> next ▶ </a>
            </div>
        
        
        <div class="title">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <span>Director To Critique Our Videos</span>
        <span class="loc">(North Hollywood)</span>
        </div>
        
        <div class='content'>
            <p>Hi all,<br><br>My husband and I are very much into film. We are trying to get into Hollywood, and have moved all the way here from a little town in Arkansas to do so.<br><br>Unfortunately, LA is really expensive and we could only afford a place in North Hollywood. Maybe that's why we're having a tough time making contacts. Anyway, we're looking for someone to watch and critique our films. We have day-time jobs, so of course we're limited in terms of how much time we can put into them, but we do our best with what we have! Jonathan is a real-estate agent and I work at a bakery, so we usualy do all of our filming at night. Because of our busy schedules, we would prefer to meet in the evening.<br><br>If you want to see a sample of our work, go to</p>
           <div class="flink">www.xvideos.com/interacial/nasty-little-redhead-hungry-for-mushroom-pizza-w-extra-cheese-and-big-black-dick-on-the-side/
            </div>
<p>
We would appreciate any feedback you have on that, and if we feel that you could help us, we can arrange to show you the rest of our stuff.<br><br>We really think that what Hollywood needs aren't more blockbusters, but rather independently produced content. We think that the future of pornography isn't on the internet, but in the theatres. We want to spark conversations about human sexuality. We want families to bond over these important matters. We want parents to feel free exploring when they're married. We want kids raising questions, and figuring things out for themsleves. But in order to do that, we need to know what
we can do to improve. Xvideos and Pornhub are fine, but how do we get Disney and Dreamworks to pay attention to us? How do we get into Netflix? Who do we talk to about merchandising rights? SO MANY QUESTIONS!!!<br><br>We welcome advice on lighting, dialogue, story--anything, really! Whatever you think will help us get to the next level. We are also open to letting you direct one of our projects--we'd love to collaborate! Let's have a cup of coffee or a glass of wine--whatever gets you going.<br><br>Call Kristy at 8184035403 or Jonathan at 818291442<br><br>Thanks!!</p>
    </div>
    
    <section>
        <div class="outro">
    <h7>compensation: <b>TBD</b></h7>
    <br>
    <h7>employment type: <b>part-time</b></h7>
    <ul>
        <li>• Principals only. Rescruiters, please don't contact this job poster.</li> 
        <li>• do NOT contact us with unsolicited services or offers.</li>
    </ul>
    <h8>post id: 387291643</h8>
    </div>
    </section>
        
        <div class="footer">
    <p>© CL</p>
    <h1>help</h1>
    <h1>safety</h1>
    <h1>terms</h1>
    <h1>about</h1>
    <h1>desktop</h1>
        <br>
    </div>