<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
        <link rel="stylesheet" href="link-template.css">
    </head>
    <body>
        <header>
        <div class='top'>
            <h4>CL</h4>
        </div>
        <div class='top'>
            <p>los angeles > jobs</p>
        </div>
    </header>
        
        <div class="action">
        <button>reply</button>
            <h8>post id: 387291643</h8>
        </div>
        
        <div class="move">
                <a class="prev" href="need-sudafed.html">◀  prev </a>
                <a class="next" href="clean-my-house.html"> next ▶ </a>
            </div>
        
        
        <div class="title">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <span>Drummer For Minimalist Heavy Metal Band</span>
        <span class="loc">(Venice)</span>
        </div>
        
        <div class='content'>
        <p>Hello.<br>Old drummer--<br>Body alive.<br>Soul dead.<br>Corporate monkey.<br>But not we.<br>We who play<br>Who bang<br>Who scream<br>With pots<br>With pans<br>Of Adults<br>With Dreams.<br><br>Join.<br>If you carry<br>A beat,<br>Steady.<br>Of passion.<br>Of fear.<br>Of love.<br>Of subtlety.<br><br>We rebel,<br>In peace.<br>Toast.<br>To reality.<br>To ears.<br>To men<br>To women<br>Who face<br>Their fears<br>And rhyme<br>Sometimes<br>Because<br>Fuck me.<br><br>Enter,<br>New drummer.<br>310<br>109<br>255<br>6<br>Leah<br>Bruce<br>Vin<br>Qathy<br><br>But yeah we're looking for a drummer, we play minimal metal, but it's a different vibe. It's toned down and if you're really counting you only hit the drums like 30 times per song, but it's all about the meaning and the timing of it. Yeah you know what if you didn't get that you're probably not a good fit. If you did get it though, our garage door is always open. KIU. </p>
    </div>
        <section>
        <div class="outro">
    <h7>compensation: <b>TBD</b></h7>
    <br>
    <h7>employment type: <b>part-time</b></h7>
    <ul>
        <li>• Principals only. Rescruiters, please don't contact this job poster.</li> 
        <li>• do NOT contact us with unsolicited services or offers.</li>
    </ul>
    <h8>post id: 387291643</h8>
    </div>
    </section>
        
        <div class="footer">
    <p>© CL</p>
    <h1>help</h1>
    <h1>safety</h1>
    <h1>terms</h1>
    <h1>about</h1>
    <h1>desktop</h1>
        <br>
    </div>
    </body>
</html>