<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
        <link rel="stylesheet" href="link-template.css">
    </head>
    <body>
        <header>
        <div class='top'>
            <h4>CL</h4>
        </div>
        <div class='top'>
            <p>los angeles > jobs</p>
        </div>
    </header>
        
        <div class="action">
        <button>reply</button>
            <h8>post id: 067231928</h8>
        </div>
        
        <div class="move">
                <a class="prev" href="expanding-our-menu.html">◀  prev </a>
                <a class="next" href="play-football-with-my-son.html"> next ▶ </a>
            </div>
        
        
        <div class="title">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <span>In Need Of A Kidney</span>
        <span class="loc">(Korea Town)</span>
        </div>
        
        <div class='content'>
        <p>I'm a middle-class white man and the world has turned against me. I'm literally at the bottom of the wait list! I mean, it's great that we're taking care of those who are less fortunate, but I don't want to die for it! If you want to be an official donor, let's meet and see how we can make that happen. I looked online and the going price for one is $2000 to $2500. But don't worry, I'll cover your operation costs ;)<br><br>But really, dialysis is a pain in my side, help me please! Maybe we can arrange some type of trade--I've still got three wisdom teeth, I'm double-jointed, and I'm okay at Soccer.<br><br>Let me know, preeeeeeetty desperate here. electricdave@hotmail.com</p>
    </div>
    
    <section>
        <div class="outro">
    <h7>compensation: <b>$2,000 - $2,500</b></h7>
    <br>
    <h7>employment type: <b>incentivised donation</b></h7>
    <ul>
        <li>• Principals only. Rescruiters, please don't contact this job poster.</li> 
        <li>• do NOT contact us with unsolicited services or offers.</li>
    </ul>
    <h8>post id: 067231928</h8>
    </div>
    </section>
        
        <div class="footer">
    <p>© CL</p>
    <h1>help</h1>
    <h1>safety</h1>
    <h1>terms</h1>
    <h1>about</h1>
    <h1>desktop</h1>
        <br>
    </div>