<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <header>
        <div class='top'>
            <h4>CL</h4>
        </div>
        <div class='top'>
            <p>los angeles > jobs</p>
        </div>
    </header>
    
    <div class='search'>
        <div class='searchbar'>
            <p>odd jobs</p>
        </div>
        <div class='searchbutton'>
            <img class="look" src="search-01.svg">
        </div>
    </div>
    
    <img class="logo" src="cl_logo-vert.png">
    
    <div class='content'>
    <ul class='rows'>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Dec 6</h3>
        <a href="need-sudafed.html">Need Sudafed</a>
        <p>(Downtown)</p>
        <h1>pic</h1>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Dec 6</h3>
        <a href="drummer-for-minimalist-heavy-metal-band.html">Drummer For Minimalist Heavy Metal Band</a>
        <p>(Venice)</p>
        <h1>pic</h1>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Dec 6</h3>
        <a href="need-sudafed.html">clean my house</a>
        <p>(Van Nuys)</p>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Dec 5</h3>
        <a href="dog-walker-with-an-open-mind.html">Dog Walker With An Open Mind</a>
        <p>(Westchester)</p>
        <h1>pic</h1>
        <h2>map</h2>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Dec 5</h3>
        <a href="seinfeld-marathon.html">Seinfeld Marathon</a>
        <p>(Santa Monica)</p>
        <h1>pic</h1>
        <h2>map</h2>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Dec 3</h3>
        <a href="director-to-critique-our-videos.html">Director To Critique Our Videos</a>
        <p>(North Hollywood)</p>
        <h1>pic</h1>
        <h2>map</h2>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Dec 2</h3>
        <a href="teach-my-dad-to-use-the-computer.html">Teach My Dad To Use A Computer</a>
        <p>(Studio City)</p>
        <h2>map</h2>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Dec 2</h3>
        <a href="expanding-our-menu.html">Expanding Our Menu</a>
        <p>(Sherman Oaks)</p>
        <h2>map</h2>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Dec 2</h3>
        <a href="in-need-of-a-kidney.html">In Need Of A Kidney</a>
        <p>(Korea Town)</p>
        <h1>pic</h1>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Nov 30</h3>
        <a href="play-football-with-my-son.html">Play Football With My Son</a>
        <p>(Lancaster)</p>
        <h1>pic</h1>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Nov 29</h3>
        <a href="a-new-mom.html">A New Mom</a>
        <p>(Downtown)</p>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Nov 29</h3>
        <a href="let-me-tattoo-you.html">Let Me Tattoo You?</a>
        <p>(Beverly Hills)</p>
        <h1>pic</h1>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Nov 29</h3>
        <a href="revenge.html">REVENGE</a>
        <p>(Downtown)</p>
        <h1>pic</h1>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Nov 29</h3>
        <a href="water-my-garden.html">Water My Garden</a>
        <p>(Westchester)</p>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Nov 28</h3>
        <a href="seeker-for-professional-hide-and-seek-team.html">Seeker For Professional Hide And Seek Team</a>
        <p>(Glendale)</p>
        <h2>map</h2>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Nov 26</h3>
        <a href="too-rich-for-homework.html">Too Rich To Do Homework</a>
        <p>(Bel Aire)</p>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Nov 26</h3>
        <a href="watch-me-lift.html">Watch Me Lift</a>
        <p>(Downtown)</p>
        <h1>pic</h1>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Nov 25</h3>
        <a href="electrician-engineer-for-refrigerator-modification.html">Electrician/Engineer For Refrigerator Modification</a>
        <p>(Pasadena)</p>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Nov 24</h3>
        <a href="help-me-with-neopets.html">Help me with neopets</a>
        <p>(online)</p>
        <h1>pic</h1>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Nov 24</h3>
        <a href="cheap-psychiatrist.html">CHEAP PSYCHIATRIST</a>
        <p>(Sun Valley)</p>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Nov 23</h3>
        <a href="need-cleanup-crew.html">Need Cleanup Crew</a>
        <p>(Venice)</p>
        <h1>pic</h1>
        <h2>map</h2>
        </li>
        
        <h10>1 - 21 / 21</h10>
        
    </ul>
    </div>
    
    <div class="footer">
    <p>© craigslist</p>
    <h1>help</h1>
    <h1>safety</h1>
    <h1>privacy</h1>
    <h1>feedback</h1>
    <h1>cl</h1>
        <br>
    <h1>jobs</h1>
    <h1>terms</h1>
    <h1>about</h1>
    <h1>mobile</h1>
        <br>
    </div>
</body>
</html>