<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
        <link rel="stylesheet" href="link-template.css">
    </head>
    <body>
        <header>
        <div class='top'>
            <a class="home" href="index.html">CL</a>
        </div>
        <div class='top'>
            <p>los angeles > jobs</p>
        </div>
    </header>
        
        <div class="action">
        <button>reply</button>
            <h8>post id: 238926541</h8>
        </div>
        
        <div class="move">
                <a class="prev" href="a-new-mom.html">◀  prev </a>
                <a class="next" href="revenge.html"> next ▶ </a>
            </div>
        
        
        <div class="title">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <span>Let Me Tattoo You?</span>
        <span class="loc">(Beverly Hills)</span>
        </div>
        
        <div class='content'>
        <p>Hey guys I'm Steph, I'm just starting out learning to tattoo. Not many of my friends are into getting tattoos, let alone from me, so I thought to come here and ask.<br><br>I'm willing to pay you--yes, pay you--to let me practice on you. It can be whatever you want, though to be honest my dream is to make a living tattooing just one thing. That way I can get really good at it and it can be my thing, you know. But I mean, anything you want. Unless you don't want anything--in that case I'll do my specialty. <br><br>Anyways, I'll pay you $50 to let me tattoo you. I want to specialize on facial tattoos, but it's really up to you. If you'd let me do it on your face that'd be awesome though tbh. <br><br>Here's my number, but please just text me, I stutter when I'm on the phone. ---> 323/850/6094<br><br>I do have one tattoo that I did on myself, it's this one.</p>
    </div>
    
        <img class="pics" src="let-me-pic.jpg">
        
    <section>
        <div class="outro">
    <h7>compensation: <b>$50</b></h7>
    <br>
    <h7>employment type:</h7>
    <ul>
        <li>• Principals only. Rescruiters, please don't contact this job poster.</li> 
        <li>• do NOT contact us with unsolicited services or offers.</li>
    </ul>
    <h8>post id: 238926541</h8>
    </div>
    </section>
        
        <div class="footer">
    <p>© CL</p>
    <h1>help</h1>
    <h1>safety</h1>
    <h1>terms</h1>
    <h1>about</h1>
    <h1>desktop</h1>
        <br>
    </div>