.pics{
    width: 75%;
    margin-top: 50px;
    margin-left: 10px;
}

.top{
    display: inline-block;
    padding: 5px;
}

header{
    font-family: 'Arial';
    font-size: 19px;
    background-color: #eee;
    padding: 8.5px;
    border-bottom: 1.5px solid lightgray;
    margin-bottom: 10px;
}

header p{
    padding-left: 5px;
    font-family: "Arial";
    font-size: 14pt;
}

.home{
    background-color: #fff;

    padding: 3.5px;
    padding-right: 5px;
    border: 1.5px solid #ccc;
    border-radius: 1em;
    text-decoration: none;
    font-size: 1.1em;
    color: #551a8b;
}

/* SECOND HEADER */

.action, button, p, h3{
    display: inline-block;
}

.action h8{
    left: 21%;
}

.action p, h3{
    position: relative;
    font-family: "Arial";
    left: 15%;
}

.action p{
    font-size: 1.1em;
}

.action h3{
    font-size: .8em;
    text-decoration: dotted underline;
}

.action button{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Arial";
    font-size: 13pt;
    margin-left: 12px;
    margin-top: 4px;
}

/* THIRD HEADER */
.move{
    display: block;
    text-align: center;
    margin-top: 30px;
    font-family: "Arial";
}

.prev{
    margin-right: 20px;
}

.next{
    margin-left: 20px;
}

/* TITLE */

.title{
    padding-top: 25px;
    padding-bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 1.5;
}

.star{
    width: 20px;
    opacity: .35;
    float: left;
    padding: 10px 10px 0 10px;
}

span{
    font-size: 28px;
    font-weight: 700;
}

.loc{
    font-size: 1.4em;
}

h2{
    font-size: 24px;
    font-weight: 700;
}

h1, h2{
    display: inline-block;
}

/* CONTENT */

p{
    font-family: "Times New Roman";
    font-size: 16pt;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.13;
}

/* OUTRO */

section{
    margin-bottom: 70px;
}

.outro{
    font-family: "Arial";
    margin-top: 80px;
}

h7{
    padding: 5px;
    background-color: #fafafa;
    border: 1.5px solid #ccc;
    border-radius: 5px;
    font-size: 1.12em;
    margin: 10px;
    line-height: 2.3;
    position: relative;
}

.outro ul{
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 10px;
    margin-bottom: 70px;
}

h8{
    font-family: "Arial";
    padding: 10px;
    text-align: center;
    position: relative;
    font-size: 11.5pt;
}

/* FOOTER */

.footer{
    display: inline-block;
    font-family: "Arial";
    background-color: #eee;
    width: 100%;
    text-align: center;
    font-size: 12.5pt;
    border-top: 1.5px solid #ccc;
    padding-bottom: 13px;
    margin-top: 30px;
}

.footer h1{
    color: blue;
    display: inline-block;
    margin-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12.5pt;
    
}

.footer p{
    margin-right: 15px;;
    font-family: "Arial";
    font-size: 13pt;
}

