<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
        <link rel="stylesheet" href="link-template.css">
    </head>
    <body>
        <header>
        <div class='top'>
            <h4>CL</h4>
        </div>
        <div class='top'>
            <p>los angeles > jobs</p>
        </div>
    </header>
        
        <div class="action">
        <button>reply</button>
            <h8>post id: 387291643</h8>
        </div>
        
        <div class="move">
                <a class="prev" href="somelink.html">◀  prev </a>
                <a class="next" href="someotherlink.html"> next ▶ </a>
            </div>
        
        
        <div class="title">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <span>Title</span>
        <span class="loc">()</span>
        </div>
        
        <div class='content'>
        <p>text</p>
    </div>
    
    <section>
        <div class="outro">
    <h7>compensation: <b>TBD</b></h7>
    <br>
    <h7>employment type: <b>part-time</b></h7>
    <ul>
        <li>• Principals only. Rescruiters, please don't contact this job poster.</li> 
        <li>• do NOT contact us with unsolicited services or offers.</li>
    </ul>
    <h8>post id: 387291643</h8>
    </div>
    </section>
        
        <div class="footer">
    <p>© CL</p>
    <h1>help</h1>
    <h1>safety</h1>
    <h1>terms</h1>
    <h1>about</h1>
    <h1>desktop</h1>
        <br>
    </div>