<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <header>
        <div class='top'>
            <h4>CL</h4>
        </div>
        <div class='top'>
            <p>los angeles > jobs</p>
        </div>
    </header>
    
    <div class='search'>
        <div class='searchbar'>
            <p>odd jobs</p>
        </div>
        <div class='searchbutton'>
            <img class="look" src="search-01.svg">
        </div>
    </div>
    
    <img class="logo" src="cl_logo-vert.png">
    
    <div class='content'>
    <ul class='rows'>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Oct 30</h3>
        <a href="need-sudafed.html">Need Sudafed</a>
        <p>(Downtown)</p>
        <h1>pic</h1>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Oct 30</h3>
        <a href="drummer-for-minimalist-heavy-metal-band.html">Temporary Drummer for Heavy Metal Band</a>
        <p>(Venice)</p>
        <h1>pic</h1>
        <h2>map</h2>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Oct 30</h3>
        <a href="need-sudafed.html">clean my house</a>
        <p>(Van Nuys)</p>
        <h1>pic</h1>
        <h2>map</h2>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Oct 30</h3>
        <a href="need-sudafed.html">Dog Walker With An Open Mind</a>
        <p>(Downtown)</p>
        <h1>pic</h1>
        <h2>map</h2>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Oct 30</h3>
        <a href="need-sudafed.html">Seinfeld Marathon</a>
        <p>(Downtown)</p>
        <h1>pic</h1>
        <h2>map</h2>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Oct 30</h3>
        <a href="need-sudafed.html">Filmographer To Critique Our Videos</a>
        <p>(Downtown)</p>
        <h1>pic</h1>
        <h2>map</h2>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Oct 30</h3>
        <a href="need-sudafed.html">Teach My Grandfather To Use A Computer</a>
        <p>(Downtown)</p>
        <h1>pic</h1>
        <h2>map</h2>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Oct 30</h3>
        <a href="need-sudafed.html">Help Build An Anarchist Society!!!</a>
        <p>(Downtown)</p>
        <h1>pic</h1>
        <h2>map</h2>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Oct 30</h3>
        <a href="need-sudafed.html">KIDNEY</a>
        <p>(Downtown)</p>
        <h1>pic</h1>
        <h2>map</h2>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Oct 30</h3>
        <a href="need-sudafed.html">Looking For Nice Guy To Play Football With My Son</a>
        <p>(Downtown)</p>
        <h1>pic</h1>
        <h2>map</h2>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Oct 30</h3>
        <a href="need-sudafed.html">Human Alarm Clock</a>
        <p>(Downtown)</p>
        <h1>pic</h1>
        <h2>map</h2>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Oct 30</h3>
        <a href="need-sudafed.html">Tattoo Practice Dummy</a>
        <p>(Downtown)</p>
        <h1>pic</h1>
        <h2>map</h2>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Oct 30</h3>
        <a href="need-sudafed.html">GET PAID FOR A MONTH IN JAIL!!</a>
        <p>(Downtown)</p>
        <h1>pic</h1>
        <h2>map</h2>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Oct 30</h3>
        <a href="need-sudafed.html">Water My Garden</a>
        <p>(Downtown)</p>
        <h1>pic</h1>
        <h2>map</h2>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Oct 30</h3>
        <a href="need-sudafed.html">My Mustang vs Your Whatever</a>
        <p>(Downtown)</p>
        <h1>pic</h1>
        <h2>map</h2>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Oct 30</h3>
        <a href="need-sudafed.html">Distribution Manager For Up and Coming Start Up</a>
        <p>(Downtown)</p>
        <h1>pic</h1>
        <h2>map</h2>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Oct 30</h3>
        <a href="need-sudafed.html">Art Teacher Needed ASAP</a>
        <p>(Downtown)</p>
        <h1>pic</h1>
        <h2>map</h2>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Oct 30</h3>
        <a href="need-sudafed.html">Revenge</a>
        <p>(Downtown)</p>
        <h1>pic</h1>
        <h2>map</h2>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Oct 30</h3>
        <a href="need-sudafed.html">Stunt Man for YouTube Channel</a>
        <p>(Downtown)</p>
        <h1>pic</h1>
        <h2>map</h2>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Oct 30</h3>
        <a href="need-sudafed.html">CHEAP PSYCHIATRIST</a>
        <p>(Downtown)</p>
        <h1>pic</h1>
        <h2>map</h2>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Oct 30</h3>
        <a href="need-sudafed.html">Partner For Chemistry Project</a>
        <p>(Downtown)</p>
        <h1>pic</h1>
        <h2>map</h2>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Oct 30</h3>
        <a href="need-sudafed.html">Game Meat Source</a>
        <p>(Downtown)</p>
        <h1>pic</h1>
        <h2>map</h2>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Oct 30</h3>
        <a href="need-sudafed.html">Seeking SEEKER for Professional Hide-and-Seek Team</a>
        <p>(Downtown)</p>
        <h1>pic</h1>
        <h2>map</h2>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Oct 30</h3>
        <a href="need-sudafed.html">I wanna be rich in Neopets</a>
        <p>(Downtown)</p>
        <h1>pic</h1>
        <h2>map</h2>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Oct 30</h3>
        <a href="need-sudafed.html">Take My Son To Prom</a>
        <p>(Downtown)</p>
        <h1>pic</h1>
        <h2>map</h2>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Oct 30</h3>
        <a href="need-sudafed.html">tires</a>
        <p>(Downtown)</p>
        <h1>pic</h1>
        <h2>map</h2>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Oct 30</h3>
        <a href="need-sudafed.html">Personal Driver Good Under Stress</a>
        <p>(Downtown)</p>
        <h1>pic</h1>
        <h2>map</h2>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Oct 30</h3>
        <a href="need-sudafed.html">Too Rich For Homework</a>
        <p>(Downtown)</p>
        <h1>pic</h1>
        <h2>map</h2>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Oct 30</h3>
        <a href="need-sudafed.html">Partner for Sure-Fire Business Venture</a>
        <p>(Downtown)</p>
        <h1>pic</h1>
        <h2>map</h2>
        </li>
        
        <li class="result-row" id="need-sudafed">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <h3>Oct 30</h3>
        <a href="need-sudafed.html">Competent Electrician/Engineer</a>
        <p>(Downtown)</p>
        <h1>pic</h1>
        <h2>map</h2>
        </li>
        
    </ul>
    </div>
    
    <div class="footer">
    <p>© craigslist</p>
    <h1>help</h1>
    <h1>safety</h1>
    <h1>privacy</h1>
    <h1>feedback</h1>
    <h1>cl</h1>
        <br>
    <h1>jobs</h1>
    <h1>terms</h1>
    <h1>about</h1>
    <h1>mobile</h1>
        <br>
    </div>
</body>
</html>