<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
        <link rel="stylesheet" href="link-template.css">
    </head>
    <body>
        <header>
        <div class='top'>
            <h4>CL</h4>
        </div>
        <div class='top'>
            <p>los angeles > jobs</p>
        </div>
    </header>
        
        <div class="action">
        <button>reply</button>
            <h8>post id: 387291643</h8>
        </div>
        
        <div class="move">
                <a class="next" href="drummer-for-minimalist-heavy-metal-band.html"> next ▶ </a>
            </div>
        
        
        <div class="title">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <span>Need Sudafed</span>
        <span class="loc">(Downtown)</span>
        </div>
        
        <div class='content'>
        <p>Need sudafed fast, very sick, very sick, already reached the legal limit pharmacy suspicious lol but hey i'll pay you 1.5x the price you buy, the more you buy the mor eyou make makes sense, right? looking for 10-12 boxes, but anything helps, really. by the way if your sick too, maybe we can help eachother out. But ya I'll pick it up wherever you at. <br><br>got a burner text at 323 901 6628<br><br>-P</p>
    </div>
        <section>
        <div class="outro">
    <h7>compensation: <b>1.5X Cash</b></h7>
    <br>
    <h7>employment type: <b>one-time</b></h7>
    <ul>
        <li>• Principals only. Rescruiters, please don't contact this job poster.</li> 
        <li>• do NOT contact us with unsolicited services or offers.</li>
    </ul>
    <h8>post id: 387291643</h8>
    </div>
    </section>
        
        <div class="footer">
    <p>© CL</p>
    <h1>help</h1>
    <h1>safety</h1>
    <h1>terms</h1>
    <h1>about</h1>
    <h1>desktop</h1>
        <br>
    </div>
    </body>
</html>