<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
        <link rel="stylesheet" href="link-template.css">
    </head>
    <body>
        <header>
        <div class='top'>
            <h4>CL</h4>
        </div>
        <div class='top'>
            <p>los angeles > jobs</p>
        </div>
    </header>
        
        <div class="action">
        <button>reply</button>
        <p>Posted</p>
        <h3>about an hour ago</h3>
        </div>
        
        <div class="move">
                <a class="next" href="someotherlink.html"> next ▶ </a>
            </div>
        
        
        <div class="title">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <span>Need Sudafed</span>
        <span class="loc">(Downtown)</span>
        </div>
        
        <div class='content'>
        <p>Need sudafed fast, very sick, very sick, already reached the legal limit pharmacy suspicious lol but hey i'll pay you 1.5x the priceyou buy, the more you buy the mor eyou make makes sense, right? looking for 10-12 boxes, but anything helps, really. by the way if your sick too, maybe we can help eachother out. But ya I'll pick it up wherever you at. got a burner text at 323 901 6628<br><br>-P</p>
    </div>
        
    </body>
</html>