<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
        <link rel="stylesheet" href="link-template.css">
    </head>
    <body>
        <header>
        <div class='top'>
            <h4>CL</h4>
        </div>
        <div class='top'>
            <p>los angeles > jobs</p>
        </div>
    </header>
        
        <div class="action">
        <button>reply</button>
            <h8>post id: 387291643</h8>
        </div>
        
        <div class="move">
                <a class="prev" href="cheap-psychiatrist.html">◀  prev </a>
            </div>
        
        
        <div class="title">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <span>Need Cleanup Crew</span>
        <span class="loc">(Venice)</span>
        </div>
        
        <div class='content'>
        <p>My idiot boyfriend dumped a truckload--literally a TRUCKLOAD--of those colorful plastic ballpit balls all over our home. It was funny, yeah, but it's been a week and I can't deal with this crap anymore, so he'll pay you $200 to clean it up. You can keep the balls if you want, but I doubt your wife/girlfriend will find it funny. Unless you own a big truck or live very close by, I recommend you get a crew of pickups or a u-haul for a day--it's that bad!<br><br>Call him at 310-587-2398 (his name's Luke).</p>
    </div>
    
    <section>
        <div class="outro">
    <h7>compensation: <b>TBD</b></h7>
    <br>
    <h7>employment type: <b>part-time</b></h7>
    <ul>
        <li>• Principals only. Rescruiters, please don't contact this job poster.</li> 
        <li>• do NOT contact us with unsolicited services or offers.</li>
    </ul>
    <h8>post id: 387291643</h8>
    </div>
    </section>
        
        <div class="footer">
    <p>© CL</p>
    <h1>help</h1>
    <h1>safety</h1>
    <h1>terms</h1>
    <h1>about</h1>
    <h1>desktop</h1>
        <br>
    </div>