<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
        <link rel="stylesheet" href="link-template.css">
    </head>
    <body>
        <header>
        <div class='top'>
            <a class="home" href="index.html">CL</a>
        </div>
        <div class='top'>
            <p>los angeles > jobs</p>
        </div>
    </header>
        
        <div class="action">
        <button>reply</button>
            <h8>post id: 668402725</h8>
        </div>
        
        <div class="move">
                <a class="prev" href="cheap-psychiatrist.html">◀  prev </a>
            </div>
        
        
        <div class="title">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <span>Need Cleanup Crew</span>
        <span class="loc">(Venice)</span>
        </div>
        
        <div class='content'>
        <p>SOOOOO my boyfriend dumped a truckload--literally a truckload--of those colorful plastic ballpit balls all over our home. It was funny, yeah, but it's been a week and he's taking me on a trip to Spain to make it up to me, so he'll pay you $150 to clean it up. You can keep the balls if you want. We're leaving on Thursday, so like, it's coming up quick.<br><br>Call him at 310-587-2398 (his name's Luke).</p>
    </div>
    
        <img class="pics" src="need-cleanup-pic.jpg">
        
    <section>
        <div class="outro">
    <h7>compensation: <b>$150</b></h7>
    <br>
    <h7>employment type: <b>one-time</b></h7>
    <ul>
        <li>• Principals only. Rescruiters, please don't contact this job poster.</li> 
        <li>• do NOT contact us with unsolicited services or offers.</li>
    </ul>
    <h8>post id: 668402725</h8>
    </div>
    </section>
        
        <div class="footer">
    <p>© CL</p>
    <h1>help</h1>
    <h1>safety</h1>
    <h1>terms</h1>
    <h1>about</h1>
    <h1>desktop</h1>
        <br>
    </div>