<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
        <link rel="stylesheet" href="link-template.css">
    </head>
    <body>
        <header>
        <div class='top'>
            <h4>CL</h4>
        </div>
        <div class='top'>
            <p>los angeles > jobs</p>
        </div>
    </header>
        
        <div class="action">
        <button>reply</button>
            <h8>post id: 387291643</h8>
        </div>
        
        <div class="move">
                <a class="prev" href="director-to-critique-our-videos.html">◀  prev </a>
                <a class="next" href="expanding-our-menu.html"> next ▶ </a>
            </div>
        
        
        <div class="title">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <span>Teach My Dad To Use The Computer</span>
        <span class="loc">(Studio City)</span>
        </div>
        
        <div class='content'>
        <p>My dad is a Russian 67 year old alcoholic who doesn't speak much english. Yeah.<br><br>I'll gladly pay for a patient, Russian speaking individual to teach him to use the computer we got for him, how to use Facebook, and how to check and send emails. I would do it myself, but I figure he won't yell at a stranger. If there is some way to have him use a simplified kid's version that'd be great. He's not a mean guy, but keep in mind he was raised on a farm. If you could somehow steer your analogies and explanations in that direction, I am sure it will make all of our lives easier.<br><br>compensation is $10 per hour. Email or call 818.005.2933. Ask for Benjamin K.</p>
    </div>
    
    <section>
        <div class="outro">
    <h7>compensation: <b>TBD</b></h7>
    <br>
    <h7>employment type: <b>part-time</b></h7>
    <ul>
        <li>• Principals only. Rescruiters, please don't contact this job poster.</li> 
        <li>• do NOT contact us with unsolicited services or offers.</li>
    </ul>
    <h8>post id: 387291643</h8>
    </div>
    </section>
        
        <div class="footer">
    <p>© CL</p>
    <h1>help</h1>
    <h1>safety</h1>
    <h1>terms</h1>
    <h1>about</h1>
    <h1>desktop</h1>
        <br>
    </div>