
header nav ul{
    margin: 40px;
    display: flex;
    justify-content: space-between;
}

.nav-left header nav ul{
    max-width: 800px; /*NOT WORKING*/
}

header nav ul li{
    font-family: bebas-neue, sans-serif;
    font-weight: 400;
    font-size: 20pt;
    letter-spacing: .5px;
}

header nav ul button{
    border: none;
    background-color: white;
    padding: 10px;
    font-family: bebas-neue, sans-serif;
    font-weight: 400;
    font-size: 20pt;
    letter-spacing: .5px;
    cursor: pointer;
}

.nav-left, .nav-right{
    display: inline-block;
}

/* HOVER STATES */
.products:hover{
    background-color: deepskyblue;
    color: white;
}

.experiences:hover{
    background-color: deeppink;
    color: white;
}

.graphics:hover{
    background-color: blueviolet;
    color: white;
}

.illustrations:hover{
    background-color: black;
    color: white;
}

/* CLICK STATES */
.products:click{
    display:block;
}

.nav-right{
    float: right;
    margin: 40px;
}

.aviv{
    border: none;
    background-color: white;
    padding: 10px;
    font-family: bebas-neue, sans-serif;
    font-weight: 400;
    font-size: 20pt;
    letter-spacing: .5px;
}

/* SQUARES */

/* SPIN */
div#spin{
    -ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Safari */
    transform: rotate(-20deg); /* Standard syntax */
}

.square{
    background-color: black;
    padding: 35px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.block{
    position: relative;
    display: inline-block;
}

.popout{
    display: none;
    position: relative;
    float: right;
    background-color: deepskyblue;
    min-width: 160px;
    margin-left: 10px;
    box-shadow: 10px 10px #eee;
}

.popout h1{
    color: white;
    padding: 15px;
    cursor: default;
    display: block;
    font-family: bebas-neue;
    letter-spacing:.5px;
    font-size: 40px;
}

.block:hover .popout{
    display: block;
}

.blues{
    width: 50px;
    background-color: aqua;
}