body{
    background-color: blue;
}

h1{
    font-family: sans-serif;
    color: white;
    font-size: 25px;
}

.title{
    position: relative;
    top: 100px;
    left: 100px;
    max-width: 300px;
}