/* ANIMATION */

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}


/* CURSOR */
*{
    cursor: url(HANDY2.png), auto;
    /* must be png, 128x128 */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

*:active{
    cursor: url(HANDY4.png), auto;
}

h2 a:visited{
    color: #0000EE;
}

a{
    text-decoration: none;
    
}

a:visited{
    color: #0000EE;
}

a:active{
    cursor: url(HANDY4.png), auto;
    /*color: yellow;*/
    color: #551A8B;
    /*color: white;*/
    /*color: aqua;*/
}

a:hover{
    cursor: url(HANDY2.png), auto;
    text-decoration: underline;
    /*color: #551A8B; CL COLOR OPTIONAL */ 
}

/* HEADER */

header .home{
    font-family: "Times New Roman";
    color: #551A8B;
    font-size: 140pt;
    transform: rotate(-15deg);
    top: 50px;
    left: 5px;
    position: absolute;
    letter-spacing: -10px;
}

.home a{
    font-family: "Times New Roman";
    color: #551A8B;
    text-decoration: none;
    
}

header h1:hover{
    transform: rotate(-20deg);
    
}

header h5{
    font-family: "Times New Roman";
    font-size: 70pt;
    transform: rotate(-15deg);
    top: 32px;
    left: 590px;
    position: absolute;
    letter-spacing: -5px;
    color: black;
    opacity: .2;
    transition: .5s ease-in-out;
}

header h5:hover{
    opacity: 1;
    transform: rotate(345deg);
}

header h1:hover{
    cursor: url(HANDY2.png), auto;
}
header h1:active{
    cursor: url(HANDY4.png), auto;
}
/* CATEGORIES */

.categories{
    font-family: arial, sans-serif;
    font-size: 70pt;
    position:static;
    letter-spacing: -2px;
}

h2 a:active{
    cursor: url(HANDY4.png), auto;
}

.back{
    font-family: sans-serif;
    color: #0000EE;
    font-size: 35pt;
    text-decoration: none;
    
    -ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    position: absolute;
    top: 20px;
    left: 20px;
    
    -webkit-animation: 5.3s fadeIn;
    -moz-animation: 5.3s fadeIn;
    animation: 5.3s fadeIn;
 
    -webkit-animation-fill-mode: forwards; 
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
 
    visibility: hidden;
}

.post{
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(20deg);
    position: fixed;
    top: 720px;
    left: 1400px;
    font-size: 50%;
    
    -webkit-animation: 5.3s fadeIn;
    -moz-animation: 5.3s fadeIn;
    animation: 5.3s fadeIn;
 
    -webkit-animation-fill-mode: forwards; 
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
 
    visibility: hidden;
}
.housing{
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    position: absolute;
    top: 270px;
    left: 1000px;
    
    -webkit-animation: 1.3s fadeIn;
    -moz-animation: 1.3s fadeIn;
    animation: 1.3s fadeIn;
 
    -webkit-animation-fill-mode: forwards; 
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
 
    visibility: hidden;
}