<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
        <link rel="stylesheet" href="link-template.css">
    </head>
    <body>
        <header>
        <div class='top'>
            <a class="home" href="index.html">CL</a>
        </div>
        <div class='top'>
            <p>los angeles > jobs</p>
        </div>
    </header>
        
        <div class="action">
        <button>reply</button>
            <h8>post id: 387292223</h8>
        </div>
        
        <div class="move">
                <a class="prev" href="let-me-tattoo-you.html">◀  prev </a>
                <a class="next" href="water-my-garden.html"> next ▶ </a>
            </div>
        
        
        <div class="title">
            <div class="stars">
                <img class='star' src="star-01.svg">
            </div>
        <span>REVENGE</span>
        <span class="loc">(Compton)</span>
        </div>
        
        <div class='content'>
        <p>
Green 1998 Toyota Avalon<br>Parks behind Lamar Liquor on Rosencrans and Haskell on weekdays from 11am to 7pm.<br>$200 send pic when done to 3105543891<br><br>Do your worst.</p>
    </div>
    
        <img class="pics" src="revenge-pic.jpg">
        
    <section>
        <div class="outro">
    <h7>compensation:</h7>
    <br>
    <h7>employment type:</h7>
    <ul>
        <li>• Principals only. Rescruiters, please don't contact this job poster.</li> 
        <li>• do NOT contact us with unsolicited services or offers.</li>
    </ul>
    <h8>post id: 387292223</h8>
    </div>
    </section>
        
        <div class="footer">
    <p>© CL</p>
    <h1>help</h1>
    <h1>safety</h1>
    <h1>terms</h1>
    <h1>about</h1>
    <h1>desktop</h1>
        <br>
    </div>