body{
    background-color: black;
}

a{
    top: 350px;
    left: 40px;
    font-size: 4em;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 700;
    color: white;
    opacity: .10;
    transition: .1s ease-in-out;
    position: relative;
}

a:hover{
    opacity: 1;
}

a:active{
    opacity: 1;
}

a:visited{
    
}
/*
.thewave a:hover{
    color: deepskyblue;
    opacity: 1;
}
*/
ul li{
    padding: 25px;
}

.aviv a{
    font-size: 50pt; 
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    top: 180px;
    left: -75px;
    opacity: 1;
}

.breathe{
    display: block;
    background-color: black;
    height: 400px;
    position: relative;
    bottom: -400px;
}