*{
    cursor: url(HANDY.png), auto;
    /* must be png, 128x128 */
}

header h1{
    font-family: "Times New Roman";
    color: rebeccapurple;
    font-size: 150pt;
    transform: rotate(-15deg);
    top: 70px;
    position: absolute;
}

header:hover{
    cursor: pointer;
}