/* ANIMATION */

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}


/* CURSOR */
*{
    cursor: url(HANDY2.png), auto;
    /* must be png, 128x128 */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

*:active{
    cursor: url(HANDY4.png), auto;
}

h2 a:visited{
    color: #0000EE;
}

a{
    text-decoration: none;
}

a:active{
    cursor: url(HANDY4.png), auto;
    /*color: yellow;*/
    color: #551A8B;
    /*color: white;*/
    /*color: aqua;*/
}

a:hover{
    cursor: url(HANDY2.png), auto;
    text-decoration: underline;
    /*color: #551A8B; CL COLOR OPTIONAL */ 
}

/* HEADER */

header h1{
    font-family: "Times New Roman";
    color: #551A8B;
    font-size: 180pt;
    transform: rotate(-15deg);
    top: 80px;
    left: 25px;
    position: absolute;
}

header h1:hover{
    cursor: url(HANDY2.png), auto;
}
header h1:active{
    cursor: url(HANDY4.png), auto;
}

/* CATEGORIES */

.categories h2{
    font-family: arial, sans-serif;
    font-size: 90pt;
    text-decoration: underline;
}

h2 a:active{
    cursor: url(HANDY4.png), auto;
}

.subcats{
    font-family: arial, sans-serif;
    font-size: 35pt;
}

.forsale{
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    position: absolute;
    top: 340px;
    left: 450px;
    width: 400px;
}

.all{
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
    position: absolute;
    top: 420px;
    left: 280px;
    
    -webkit-animation: 1.4s fadeIn;
    -moz-animation: 1.4s fadeIn;
    animation: 1.4s fadeIn;
 
    -webkit-animation-fill-mode: forwards; 
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
 
    visibility: hidden;
}

.antiques{
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
    position: absolute;
    top: 480px;
    left: 240px;
    
    -webkit-animation: 1.5s fadeIn;
    -moz-animation: 1.5s fadeIn;
    animation: 1.5s fadeIn;
 
    -webkit-animation-fill-mode: forwards; 
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
 
    visibility: hidden;
}

.appliances{
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
    position: absolute;
    top: 520px;
    left: 170px;
    
    -webkit-animation: 1.6s fadeIn;
    -moz-animation: 1.6s fadeIn;
    animation: 1.6s fadeIn;
 
    -webkit-animation-fill-mode: forwards; 
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
 
    visibility: hidden;
}

.arts{
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    position: absolute;
    top: 570px;
    left: 170px;
    
    -webkit-animation: 1.7s fadeIn;
    -moz-animation: 1.7s fadeIn;
    animation: 1.7s fadeIn;
 
    -webkit-animation-fill-mode: forwards; 
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
 
    visibility: hidden;
}

.atv{
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(5deg);
    position: absolute;
    top: 620px;
    left: 200px;
    
    -webkit-animation: 1.8s fadeIn;
    -moz-animation: 1.8s fadeIn;
    animation: 1.8s fadeIn;
 
    -webkit-animation-fill-mode: forwards; 
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
 
    visibility: hidden;
}

.auto{
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(5deg);
    position: absolute;
    top: 660px;
    left: 170px;
    
    -webkit-animation: 1.9s fadeIn;
    -moz-animation: 1.9s fadeIn;
    animation: 1.9s fadeIn;
 
    -webkit-animation-fill-mode: forwards; 
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
 
    visibility: hidden;
}

.baby{
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
    position: absolute;
    top: 700px;
    left: 120px;
    
    -webkit-animation: 2s fadeIn;
    -moz-animation: 2s fadeIn;
    animation: 2s fadeIn;
 
    -webkit-animation-fill-mode: forwards; 
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
 
    visibility: hidden;
}

.barter{
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    position: absolute;
    top: 750px;
    left: 230px;
    
    -webkit-animation: 2.1s fadeIn;
    -moz-animation: 2.1s fadeIn;
    animation: 2.1s fadeIn;
 
    -webkit-animation-fill-mode: forwards; 
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
 
    visibility: hidden;
}

.beauty{
    -ms-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
    position: absolute;
    top: 800px;
    left: 90px;
    
    -webkit-animation: 2.2s fadeIn;
    -moz-animation: 2.2s fadeIn;
    animation: 2.2s fadeIn;
 
    -webkit-animation-fill-mode: forwards; 
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
 
    visibility: hidden;
}

.bikes{
    -ms-transform: rotate(6deg);
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
    position: absolute;
    top: 840px;
    left: 160px;
    
    -webkit-animation: 2.3s fadeIn;
    -moz-animation: 2.3s fadeIn;
    animation: 2.3s fadeIn;
 
    -webkit-animation-fill-mode: forwards; 
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
 
    visibility: hidden;
}

.boats{
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
    position: absolute;
    top: 875px;
    left: 110px;
    
    -webkit-animation: 2.4s fadeIn;
    -moz-animation: 2.4s fadeIn;
    animation: 2.4s fadeIn;
 
    -webkit-animation-fill-mode: forwards; 
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
 
    visibility: hidden;
}

.image{
    position: absolute;
    width: 80%;
    opacity: .2;
    z-index: -10000;
    top: 0px;
}